
table {
    border: 1px solid;
}

th, td {
    border: 1px solid;
    width: 60px;
    height: 25px;
}

td:first-child {
    width: 130px;
}

tr:last-child > td:last-child { 
    text-align: center;
}