body {
     width: 1200px;
     margin: auto;
     font-family: Trebuchet MS, sans-serif;
 }
 
a {
    text-decoration:none;
    color: white; 
    text-shadow: 0 0 15px black, 0 0 15px black;
}

a:hover{
    color: black;
    text-shadow: none;
    transition: .3s;
}

h1 {
    text-align: center; 
    font-size: 70px;
    color: white;
    text-shadow: 0 0 15px black, 0 0 15px black;
 }

ul {
    margin: 0;
    padding: 0;
}

ul>li>a {
    color:black;
    text-shadow:none;
}

ul>li>a:hover{
    color:black;
}

ul>li>a:last-child{
    display: block;
    font-size: 13px;
    color:white;
}

ul>li:hover>a:last-child{
    color: black;
    transition: .3s;
}

ul>li {
    display: inline-block;
    position: relative;
    list-style: none;
    width: 250px;
    height: 40px;
    margin: 20px;
    padding-top: 12px;
    text-align: center;
 }

ul>li:hover{
    border: 2px solid black;
    box-shadow:  20px 20px 20px black, -20px -20px 20px black;
    transition: .3s;
}

ul>li>a {
    vertical-align: middle;
 }

h2 {
    text-transform:uppercase;
    margin-top: 50px;
    margin-bottom: 35px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black;
}

nav>h2{
    margin: 0;
}

article {
    text-align: center;
    width: 600px;
    margin: auto;
}
 
ol {
    text-align: left;
}

footer {
    margin-top: 50px;
}